@using WebApplication1.Models.Database
@model Tax
@{
    ViewBag.Title = "NewTax";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="container">
        @Html.Label("Name")
        @Html.TextBoxFor(x => x.TaxName, new { @class = "form-control" })
        <br />
        @Html.Label("Value")
        @Html.TextBoxFor(x => x.TaxValue, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Save</button>
    </div>

</form>

