@using WebApplication1.Models.Database
@model Group
@{
    ViewBag.Title = "NewGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="container">
        @Html.Label("Name")
        @Html.TextBoxFor(x => x.GroupName, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Save</button>
    </div>
    
</form>

