@using WebApplication1.Models.Database
@model SupportStatus
@{
    ViewBag.Title = "EditStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <div class="container">
        @Html.Label("Ticket Status Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Save</button>
    </div>

</form>
